# ANAVA DESAIN EXPERIMENT
## RANCANGAN ACAK LENGKAP

Rancangan acak lengkap merupakan rancangan yang paling sederhana, digunakan untuk mempelajari *a* perlakuan dan *n* pengulangan, Sehingga total percobaan adalah *na*

### Notasi yang digunakan

* $Y_{**}$ = $\sum_{i=0}^{a}\sum_{j=0}^{n}y_{ij}$ adalah jumlah seluruh elemen percobaan
* $Y_{i*}$ = $\sum_{i=0}^{a}y_{ij}$ adalah jumlah elemen tiap perlakuan

In [ ]:
import numpy as np
import pandas as pd

In [5]:
df  = pd.read_csv("/home/dn/Documents/kuliah/S6/DesainExperimen/2.csv")
df

    A   C   T
0  32  52  58
1  55  67  42
2  28  55  76
3  24  52  46
4  30  53  25

In [22]:
cek = df.isnull().sum().sum()
if cek>=1:
    r = df.count()
    p = df.to_numpy()
    a = len(p[0,:])    jkp = np.zeros(a)    
    FK = (df.sum().sum())**2/r.sum().sum()
    
    for i in range(a):
        jkp[i] = df.iloc[:,i].sum()
    jkp = jkp**2
    JKP = sum(jkp/r)-FK
    
    JKT = (df**2).sum().sum()-FK
    
    JKG = JKT - JKP
    
    dp = a-1
    dg = sum(r-1)
    dt = sum(r)-1
    
    KTG = JKG/dg
    KTP = JKP/dp
    
    F = KTP/KTG
    Ft = Ftabel.iloc[dg-1,dp-1]
else:
    #inisialisasi program
    
    p = df.to_numpy()
    a = len(p[0,:])
    r = len(p[:,0])
    jkp = np.zeros(a)
    jkt = np.zeros((a,r))
    
    #menghitung Faktor Korelasi
    yii = p.sum().sum()
    FK = yii**2/(a*r)
    
    #Menghitung Jumlah Kuadrat Perlakuan
    
    for i in range(a):
        jkp[i] = p[:,i].sum()
    jkp=jkp**2
    JKP = sum(jkp)/r-FK
    
    #Menghitung Jumlah Kuadrat Total
    
    jkt = p**2
    JKT = jkt.sum().sum()-FK
    
    #Menghitung Jumlah Kuadrat Galat
    
    JKG = JKT-JKP
    
    #Menghitung Derajat bebas
    
    dp = a-1
    dg = a*(r-1)
    dt = a*r-1
    
    #Menghitung Kuadrat Total
    
    KTP = JKP/dp
    KTG = JKG/dg
    
    #F Hitung
    
    F = KTP/KTG

In [23]:
col = {"Derajat Bebas":[dp,dg,dt],"Jumlah Kuadrat":[JKP,JKG,JKT],"KT":[KTP,KTG,"-"],"$F_{hit}$":[F,"-","-"]}
Anava = pd.DataFrame(col)
index_tittle = ["Perlakuan","Galat","Total"]
Anava.index = index_tittle
Anava

           Derajat Bebas  Jumlah Kuadrat       KT $F_{hit}$
Galat                  2     1280.533333  640.267   3.48792
Total                 12     2202.800000  183.567         -
Perlakuan             14     3483.333333        -         -