# RANCANGAN ACAK KELOMPOK LENGKAP

## Mengapa RAKL

* Keheterogenan berasal dari satu sumber keragaman
* Mengatasi kesulitan dalam mempersiapkan unit percobaan dalam jumlah besar
* Kelompok yang dibentuk harus merupakan kumpulan dari unit-unit percobaan yang relatif homogen, sedangkan keragaman antar kelompok diharapkan cukup tinggi

Import Module

In [1]:
import numpy as np
import pandas as pd

Import Data

In [2]:
df = pd.read_csv("/home/dn/Documents/kuliah/S6/DesainExperimen/DataTugas/2.3.csv")
Ftabel = pd.read_csv("/home/dn/Documents/kuliah/S6/DesainExperimen/F.csv")
label = ['Rendah','Sedang','Tinggi']
df.index = label
df

        Cetak  Audio  Visual  Berbasis Komputer
Sedang    8.1    6.5     7.4                8.4
Rendah    8.9    6.8     6.0                7.4
Tinggi    7.7    5.9     5.9                9.4

Inisialisasi Data

In [3]:
a = len(df.iloc[0,:])
b = len(df.iloc[:,0])
yoo = df.sum().sum()
yio = np.zeros(a)
yoj = np.zeros(b)
for i in range(a):
    yio[i]=df.iloc[:,i].sum()
for j in range(b):
    yoj[j] = df.iloc[j,:].sum()
yij = df**2

In [ ]:
Perhitungan

In [4]:
FK = yoo**2/(a*b)
JKP = sum(yio**2)/b-FK
JKK = sum(yoj**2)/a-FK
JKT = yij.sum().sum()-FK
JKG = JKT-JKP-JKK

dp,dk,dg,dt = a-1,b-1,(a-1)*(b-1),a*b-1

KTP = JKP/dp
KTK = JKK/dk
KTG = JKG/dg

F1 = KTP/KTG
F2 = KTK/KTG

Ft1 = Ftabel.iloc[dg-1,dp-1]
Ft2 = Ftabel.iloc[dg-1,dk-1]
print(FK,yoo,sum(yio**2),sum(yoj**2),yij.sum().sum())

651.2133333333335 88.4 1986.2600000000002 2606.18 666.6600000000001

Menampilkan Hasil ke Dalam Dataset

In [5]:
col = {"Derajat Bebas":[dp,dk,dg,dt],"Jumlah Kuadrat":[JKP,JKK,JKG,JKT],"KT":[KTP,KTK,KTG,"-"],"$F_{hit}$":[F1,F2,"-","-"]}
Anava = pd.DataFrame(col)
if F1<Ft1:
    print("H0 Perlakuan Diterima karena Fhit = {} < F tabel ={}".format(F1,Ft1))
else:
    print("H0 Perlakuan Ditolak karena Fhit = {} > F tabel ={}".format(F1,Ft1))
if F2<Ft2:
    print("H0 Kelompok Diterima karena Fhit = {} < F tabel ={}".format(F2,Ft2))
else:
    print("H0 Kelompok Ditolak karena Fhit = {} > F tabel ={}".format(F2,Ft2))
label = ['Perlakuan','Kelompok','Galat','Total']
Anava.index = label
Anava

H0 Perlakuan Ditolak karena Fhit = 5.126915520628347 > F tabel =4.7571
H0 Kelompok Diterima karena Fhit = 0.23457760314327256 < F tabel =5.1433

           Derajat Bebas  Jumlah Kuadrat        KT $F_{hit}$
Perlakuan              3       10.873333   3.62444   5.12692
Kelompok               2        0.331667  0.165833  0.234578
Galat                  6        4.241667  0.706944         -
Total                 11       15.446667         -         -